body{
	background-color: green;
	color: green;
}

.age{
	padding:20px;
	background-color: #D0D0D0;
	margin: 20px 0px;
	border-radius: 10px;
}


.age-input label{
	font-size: 24px;
}
.result-box , .result-box1{
	background-color: white;
	padding:0px 30px 10px;
}

.pucit{
	padding:20px;
	background-color: #D0D0D0;
	margin: 20px 0px;
	border-radius: 10px;
}
